<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>E-Learning WebApp!</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="css">
</head>
<body style="margin: 20px; padding: 20px;">
{% if top_list %}
    <center><h2>List of Topics</h2></center>
    <ol>
        {% for top in top_list %}
        <li> <p> <a href="{% url 'myapp:detail' top.id %}">{{ top.name }}</a></p> </li>
        {% endfor %}
    </ol>
{% else %}
    <strong>There are no available topics!</strong>
{% endif %}

{% if course_list %}
<center><h2>List of Courses</h2></center>
        {% for course in course_list %}
                {% if course.for_everyone is True %}
                </br>{{ course.id }}. {{ course }} <b> - is for everyone</b></br>
            {% else %}
                </br>{{ course.id }}. {{ course }} <b> - is not for everyone</b></br>
            {% endif %}
        {% endfor %}
{% else %}
    <strong>There are no available courses!</strong>
{% endif %}

{#<p><a href="/myapp/about">About page</a></p>#}
<p><a href="{% url 'myapp:about' %}">About page </a></p>

</body>
</html>

