<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="css">
    </head>
    <body>
        <center><div>
            {% extends 'myapp/base.html' %}
            {% block body_block %}
            <h2>Log in</h2>
                <form action="{% url 'myapp:user_login' %}" method="post">
                {% csrf_token %}
            {#        {{form.as_p}}#}
                    <div class="form-group">
                        <b><label for="username">Username:</label></b>
                        <input type="input" name="username" class="form-group" required>
                    </div>
                    <div>
                        <b><label for="password">Password:</label></b>
                        <input type="password" name="password" class="form-group" required>
                    </div>
                    <input type="submit" name="submit" value="login" class="btn btn-primary"/>
                </form>
            {% endblock %}
        </div></center>
    </body>
</html>