<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="css">
</head>
<body style="margin: 20px; padding: 10px;">
{% extends 'myapp/base.html' %}
{% block body_block %}
    <center><h2>{{First_name}} {{Last_name}}</h2></center><br>

    <center><h3>List of courses ordered</h3></center>
    {% if order_list %}
        {% for orders in order_list %}
            <li> {{orders}} </li>
        {% endfor %}
    {% else %}
        <p>No orders to show!!!!</p>
    {% endif %}

    <center><h3>List of Topics interested in</h3></center>
    {% if interested_list %}
        {% for course in interested_list %}
            <li> {{course}} </li>
        {% endfor %}
    {% else %}
        <p>No interests to show!!!!</p>
    {% endif %}
     <ul>
    <li class="hbar1"><a href="{% url 'myapp:user_logout' %}">Log out</a></li>
    </ul>
{% endblock %}
</body>
</html>