{% extends 'myapp/base.html' %}
{% block body_block %}
    <h1>{{First_name}} {{Last_name}}</h1>

    <h2>List of courses ordered</h2>
    {% if order_list %}
        {% for orders in order_list %}
            <li> {{orders}} </li>
        {% endfor %}
    {% else %}
        <p>No orders to show!!!!</p>
    {% endif %}

    <h2>List of Topics interested in</h2>
    {% if interested_list %}
        {% for course in interested_list %}
            <li> {{course}} </li>
        {% endfor %}
    {% else %}
        <p>No interests to show!!!!</p>
    {% endif %}
     <ul>
    <li class="hbar1"><a href="{% url 'myapp:user_logout' %}">Log out</a></li>
    </ul>
{% endblock %}