<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="css">
</head>
<body style="margin: 20px; padding: 10px;">
     {% extends 'myapp/base.html' %}
     {% block body_block %}
          {{ msg }}
     <br/>
          {{ updated_price }}
     {% endblock %}
</body>
</html>